# Este es un archivo .env de EJEMPLO no contiene credenciales reales ni funciona con el sistema
# para poder usarlo copia el archivo y pegalo quitando '.example' que quede como '.env' y cambia las credenciales por las tuyas

PORT=3000 # Puerto en el cual correr el Backend

DATABASE_URL="postgresql://USER:PASSWORD@localhost:PORT/DB?schema=public" # Reemplaza los datos en mayuscula por las credenciales de tu DB